*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-family: Arial, Helvetica, sans-serif;}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #469689 15%, #D5DBD9 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1350px;
    height: 90vh;
    display: flex;
}

.sidebar{
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgrey;
}

.chat-content{
    flex-grow: 1;
    height: 100%;
}

.sidebar_top-side , .chat-content_top-side{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd;
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-text{
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 12px;
    color: rgba(128, 128, 128, 0.7);
}

.notifica{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
} 

.sm-gray{
    color: gray;
    font-size: 12px;
}

.bg-notifica{
    background-color: #8EDAFC;
}

.icon-circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i{
    color: #8EDAFC;
}

.chat-search{
    width: 100%;
    padding: 10px 50px;
    color: gray;
    border: none;
}

.chat-wrapper{
    flex-grow: 1;
    padding-top: 7px;
    background-color: #fdfdfd;
}

.input-wrapper{
    position: relative;
    color: gray;
}

.input-wrapper i{
    position: absolute;
    top:50%;
    left: 15px;
    transform: translateY(-50%)
}

.chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    gap: 5px;
    padding-left: 15px;
}

.chat-user{
display: flex;
gap: 15px;
}

.name{
    font-size: 14px;
}

.date{
    align-self: flex-start;
    padding-top: 12px;
    padding-right: 5px;
}

.chat-content{
    display: flex;
    flex-direction: column;
}
.message-wrapper{
    background: #E5DDD5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap:8px;
}

.input-message{
    height: 70px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-message input{
    width: 85%;
    padding: 10px 20px;
    border: none;
}

.input-message i{
    color: #6A7376;
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}

.sent{
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received{
    background-color: white;
    align-self: flex-start;
}

.message{
    min-width: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.message span{
    align-self: flex-end;
    padding: 5px;
}

.message p{
    font-size: 14px;
    align-self: flex-start;
    margin-right: 40px;
}

.active{
    background-color: lightgray;
}

.message.sent + .message.received,
.message.received + .message.sent{
    margin-top: 10px;
}

.message-wrapper > div{
    display: contents;
}

.message.received + .message.sent::before, .message.sent:first-child::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #D5F9BA;
    border-right: 10px solid transparent;
    position: absolute;
    top:0;
    left:100%;
}

.message.sent + .message.received::before, .message.received:first-child::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0;
    right: 100%;
}


.message.sent:first-child, .message.received + .message.sent{
    border-top-right-radius: 0;
}

.message.received:first-child, .message.sent + .message.received{
    border-top-left-radius: 0;
}

.drop-down-menu{
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px grey;
    position: absolute;
    width: 140px;
    border: 1px solid grey;
    display: block;
    z-index: 999;
}
.message.received .drop-down-menu{
    top:15px;
    left: 90%;
}
.message.sent .drop-down-menu{
    top:10px;
    right: 90%;
}



ul{
    list-style-type: none;
    cursor: pointer;
}

.message i{
    align-self: flex-end;
    padding-right: 10px;
    padding-top: 5px;
}

.d-block{
    display: block;
}
.display-none{
    display: none;
}