<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzap</title>
</head>
<body>
    
    <main id="app">
        <div class="sidebar">
            <div class="sidebar_top-side">
                <div class="user-profile">
                    <img src="https://picsum.photos/45/45" class="profile-img" >
                    <span class="profile-text">Mattia</span>
                </div>
                <div class="icon-wrapper">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="notifica bg-notifica">
                <div class="icon-circle">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div>
                    <p class="profile-text">Ricevi notifiche di nuovi utenti</p>
                    <a class="sm-gray" href="">Attiva notifiche desktop</a>
                </div>
            </div>
            

            <div class="chat-wrapper">
                <div class="input-wrapper">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" 
                    class="chat-search" 
                    v-model="searchName" 
                    @keyup="chatFilter()">
                    
                    <i class="fas fa-search"></i>
                </div>


                <div class="chat" v-for="(el,index) in contacts" :class=" currentIndex == index ? 'active' : '' " @click="currentIndex=index" v-if="el.visible">
                    <div class="chat-user">
                        <img v-bind:src="el.avatar" class="profile-img">
                        <div>
                            <p class="profile-text"> {{ el.name }} </p>
                            <p class="sm-gray"> {{ el.messages[el.messages.length-1].text }} </p>
                        </div>  
                    </div>        
                    <p class="date sm-gray">{{ el.messages[el.messages.length-1].date }}</p>
                </div>
            </div>
        
        </div>
        
        <div class="chat-content">
            <div class="chat-content_top-side">

                <div class="user-profile" v-for="(contact,index) in contacts" v-if="currentIndex == index">
                    <img v-bind:src="contact.avatar" class="profile-img">
                    <div>
                        <p class="profile-text">{{ contact.name }}</p>
                        <p class="sm-gray">Ultimo accesso {{ contact.messages[contact.messages.length-1].date }}</p>
                    </div>
                </div>

                <div class="icon-wrapper">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="message-wrapper">
                <div v-for="(contact,index) in contacts" v-if="currentIndex==index">
                    <div v-for="(message,index) in contact.messages" class="message"  :class="message.status=='sent' ? 'sent' : 'received' ">
                        <i class="fas fa-angle-down" @click="toggleMenu"></i>
                        <p>{{message.text}}</p>
                        <span class="sm-gray">{{ getHours(message.date) }}</span>
                        
                        <div class="drop-down-menu" v-if="showModal">
                            <ul>
                                <li @click="deleteMessage(index)">Delete message</li>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
                
                
            </div>
            <div class="input-message">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrvi un messaggio" @keyup.enter="writeMessage(currentIndex)" v-model="newMessage">
                <i class="fas fa-microphone"></i>
            </div>
        </div>


    </main>

    <script src="js/app.js"></script>
</body>
</html>